body {
    margin: auto;
    padding: 0;
    background-color: rgb(236, 237, 239);
}

h1, h2, h3 {
    font-size: 35px;
    color: rgb(22, 23, 23);
    padding: 10px;
    font-family: Arial;
    font-style: normal;
    margin: auto;
}

p {
    font-size: 16px;
    font-family: sans-serif;
    padding: 5px 0 0 7.5px;
}

.som-texto {
    font-size: 18px;
    font-family: Helvetica;
    padding: 2px;
    color: rgb(3, 22, 44);
    transition: fro-size 0.2s ease;
}

.som-texto:hover {
    font-size: 20.8px;
}

nav {
    display: flex;
    padding: 3px;
    margin: 25px;
    margin: auto;
    justify-content: space-around;
    background-color: rgb(253, 254, 254);

}

ul {
    padding: 0;
    margin: 0;
    display:contents;
    justify-content: center;
}

a {
    font-size: 24px;
    font-family: Verdana;
    text-decoration: none;
    color: rgb(39, 116, 199);
    transition: fron-size 2.8s ease;
    margin: 28px;
    display: inline-block;
}

a:hover {
    font-size: 29px;
    transition: 0.75s;
    font-family: Arial;
}

.img_uno {
    width: 60px;
    height: 40px;
    
}

.title {
    padding: 35px;
    width: 85%;
}

.TyC {
    width: 85%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin: auto;
    padding: 20px 10px 10px 22px;
    align-items: center;
}

.separac {
    padding: 35px;
}

